[Unit]
Description=Strategy Engine Dashboard
After=network.target

[Service]
User=robpitman1982
WorkingDirectory=/home/robpitman1982/python-master-strategy-creator
ExecStart=/home/robpitman1982/python-master-strategy-creator/scripts/start_dashboard.sh
Restart=always

[Install]
WantedBy=multi-user.target
